.game-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;

  .middle-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
  }

  .right-section {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;

    .edict-container {
      display: flex;
      flex-direction: row;
      padding: 50px 0px;
    }

    .seasons-container {
      display: flex;
      flex-direction: row;
      padding: 50px 0px;
    }

    .explore-deck-container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  }
}
