.card {
  width: 100px;
  height: 140px;
  border: 2px solid black;
  border-radius: 3%;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;

  &.notCurrentSeason {
    background-color: lightgray;
  }

  &.currentSeason {
    background-color: white;
  }

  .body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .edicts {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .edict {
      padding: 10px 10px;
      border: 1px solid black;
    }
  }
}
