@import "../../../assets/styles/terrains.module.scss";

.card {
  position: absolute;
  width: 250px;
  height: 320px;
  border: 2px solid black;
  border-radius: 3%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.header {
  font-size: 1.5rem;
}

.body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .title {
    position: absolute;
    background: white;
    padding: 0px 5px;
    margin: -0.75rem;
    font-size: 1.5rem;
  }
}

.options {
  height: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 5px;
}

.divider {
  width: 1px;
  background-color: black;
  height: 100%;
}
