.card {
    position: absolute;
    width: 250px;
    height: 320px;
    border: 2px solid black;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    font-size: 1.5rem;
}

.body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .title {
        position: absolute;
        background: white;
        padding: 0px 5px;
        margin: -.75rem;
        font-size: 1.5rem;
    }
}

.options {
    height: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 5px;

    .terrains {
        display: flex;
        height: 50%;
        border-bottom: 1px solid black;
        cursor: pointer;

        .terrain {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            border: 3px solid transparent;

            &:hover {
                border: 3px solid lightgray;
            }

            .terrain-icon {
                width: 40px;
                height: 40px;
            }

            &.active {
                border: 3px solid red;
            }
        }
    }

    .shapes {
        display: flex;
        cursor: pointer;
        height: 50%;

        .shape {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            border: 3px solid transparent;

            &:hover {
                border: 3px solid lightgray;
            }

            &.active {
                border: 3px solid red;
            }

            .coin {
                width: 25px;
                height: 25px;
                border-radius: 100%;
                background-color: yellow;
                border: 1px solid goldenrod;
            }
        }
    }
}

.divider {
    width: 1px;
    background-color: black;
    height: 100%;
}

.forest {
background-color: green;
}

.village {
background-color: red;
}

.farm {
background-color: yellow;
}

.water {
background: blue;
}

.monster {
background-color: purple;
}

.mountain {
background-color: black;
}
