@import "../../../../../assets/styles/terrains.module.scss";

.corner {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  float: right;

  .row {
    height: 50%;
    display: flex;
    flex-direction: row;

    .not-corner-square {
      flex-grow: 1;
      margin: 1px;
      border-radius: 25%;
      background-color: darkgray;
    }

    .corner-square {
      margin: 1px;
      flex-grow: 1;
      border-radius: 25%;
      background-color: $monster-color;
    }
  }
}
