.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.overlay {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.ruin {
  position: absolute;
  height: 40px;
  width: 40px;

  svg path {
    stroke: lightgray;
  }
}

@import "../../assets/styles/terrains.module.scss";
