@import "../../assets/styles/colours.scss";

.square {
  border: 1px dashed $map-sheet-brown-stroke;
  float: left;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  &.ruin-active {
    transition: background-color 0.5s linear;
  }
}

.overlay {
  position: absolute;
  box-sizing: border-box;
  height: 42px;
  width: 42px;
  margin-top: -1px;
  margin-left: -1px;
  opacity: 0.5;
  transition: background-color 0.1s linear;

  &.ruin-highlight {
    animation: pulse 3s infinite;
  }

  &.top-border {
    border-top-width: 3px;
    border-top-style: solid;
  }

  &.right-border {
    border-right-width: 3px;
    border-right-style: solid;
  }

  &.bottom-border {
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

  &.left-border {
    border-left-width: 3px;
    border-left-style: solid;
  }

  &.valid-move {
    border-color: green;
  }

  &.invalid-move {
    border-color: red;
  }

  &.highlight-overlay {
    opacity: 1;
    border-color: red !important;
    animation-name: flash;
    animation-duration: 0.6s;
    animation-iteration-count: 5;
  }
}

.ruin {
  position: absolute;
  height: 40px;
  width: 40px;

  path {
    stroke: $map-sheet-brown-stroke;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}

@import "../../assets/styles/terrains.module.scss";
