@import "../../assets/styles/colours.scss";

.square {
  border: 1px dashed $map-sheet-brown-stroke;
  float: left;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.overlay {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.ruin {
  position: absolute;
  height: 40px;
  width: 40px;

  path {
    stroke: $map-sheet-brown-stroke;
  }
}

@import "../../assets/styles/terrains.module.scss";
