.track {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;

  .coin {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 3px 4px;
  }

  .empty {
    padding: 1px;
    background-image: url("../../assets/sprites/coin/coin-greyscale.svg");
  }

  .filled {
    padding: 1px;
    background-image: url("../../assets/sprites/coin/coin.svg");
    transition: background-image 0.5s linear;
  }
}
