.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: .5;
}

.forest {
  background-color: green;
}

.village {
  background-color: red;
}

.farm {
  background-color: yellow;
}

.water {
  background: blue;
}

.monster {
  background-color: purple;
}

.mountain {
  background-color: black;
}

