.card {
    width: 250px;
    height: 320px;
    border: 2px solid black;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    flex-grow: 1;
}

.options {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 5px;

    .terrains {
        display: flex;
        flex-grow: 1;
        border-bottom: 1px solid black;

        .terrain {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            &:nth-child(2) {
                border-left: 1px solid black;
            }
        }
    }

    .shapes {
        display: flex;
        flex-grow: 1;

        .shape {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            &:nth-child(2) {
                border-left: 1px solid black;
            }
        }
    }
}
