@import "../../assets/styles/colours.scss";

.game-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 20px 10px;
  border: 2px solid $map-sheet-brown-stroke;
  background-color: $map-sheet-color;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.59);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.59);

  .cartographer-details-container {
    width: 100%;
    position: relative;
  }

  .coin-track-container {
    margin-top: 20px;
  }

  .score-track-container {
    margin-top: 20px;
  }
}
