$forest-color: #136d31;
$village-color: #72200a;
$farm-color: #9e6f31;
$water-color: #03588e;
$monster-color: #5d1d75;
$mountain-color: #2a1007;

.forest-color {
  background-color: $forest-color;
}

.village-color {
  background-color: $village-color;
}

.farm-color {
  background-color: $farm-color;
}

.water-color {
  background-color: $water-color;
}

.monster-color {
  background-color: $monster-color;
}

.mountain-color {
  background-color: $mountain-color;
}

.forest {
  background-image: url("../sprites/forest/forest.svg");
  border-radius: 3px;
}

.village {
  background-image: url("../sprites/village/village.svg");
  border-radius: 3px;
}

.farm {
  background-image: url("../sprites/farm/farm.svg");
  border-radius: 3px;
}

.water {
  background-image: url("../sprites/water/water.svg");
  border-radius: 3px;
}

.monster {
  background-image: url("../sprites/monster/monster.svg");
  border-radius: 3px;
}

.mountain {
  background-image: url("../sprites/mountain/mountain.svg");
  border-radius: 3px;
}
