$forest-color: green;
$village-color: red;
$farm-color: gold;
$water-color: darkblue;
$monster-color: purple;
$mountain-color: black;

.forest {
  background-color: $forest-color;
}

.village {
  background-color: $village-color;
}

.farm {
  background-color: $farm-color;
}

.water {
  background: $water-color;
}

.monster {
  background-color: $monster-color;
}

.mountain {
  background-color: $mountain-color;
}
